
<div class='award'>
	<h3>
		Selected Awards
	</h3>
	<ul >
		<li>PhD Innovation Fund of BJTU (Apr. 2022)</li>
		<li>China National Scholarship (Oct. 2022. 2% awarded.)</li>
		<li>China National Scholarship (Oct. 2020. 3% awarded.)</li>
	</ul>
	
	<h3>
		Academic Service & Activities
	</h3>
	
	<h4>
		<a name='reviewer'></a> Reviewer
	</h4>
	<ul >
		<li>IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR)</li>
		<li>International Conference on Computer Vision (ICCV)</li>
		<li>European Conference on Computer Vision (ECCV)</li>
		<li>IEEE Winter Conference on Applications of Computer Vision (WACV)</li>
		<li>IEEE Transactions on Circuits and Systems for Video Technology (TCSVT)</li>
		<li>Information Fusion</li>
		<li>Neurocomputing</li>
		<li>Signal, Image and Video Processing</li>
	</ul>
	
	<h4>
		<a name='talk'></a> Talk
	</h4>
	
	<ul >
		<li><a href="https://www.koushare.com/video/videodetail/16768">Unsupervised Deep Image Stitching</a>, Graduate academic forum of Chinese journal of image and graphics, Sep. 2021</li>
		<li><a href="https://www.bilibili.com/video/BV1ER4y1P7go?spm_id_from=333.337.search-card.all.click">Exploring Deep Image Warp</a>, Extreme mart, Apr. 2022</li>
		<li><a href="https://www.bilibili.com/video/BV1cW4y1z7Q1?spm_id_from=333.999.0.0">Deep Rectangling for Image Stitching: A Learning Baseline</a>, VALSE, Jun. 2022</li>
	</ul>
	
	
</div>


