
<div class='interest'>
	<h3>
		Research Interests
	</h3>
	<p>
	I am interested in exploring image warps using deep learning, such as homography, mesh, optical flow, thin-plate spline, etc. These deep warps provide new solutions for classic computer vision tasks (e.g. image stitching, video stabilization and so on) and demonstrate impressive performance. The specific intersts are listed below:
	</p>
	<h4>
		<a name='interest1'></a> <b>1) Multi-view geometry and image processing:</b>
	</h4>
	<p>
	image/video stitching, image rectangling, homography estimation, video stablization
		</p>
	<h4>
		<a name='interest2'></a> <b>3) Panoramic scene understanding:</b>
	</h4>
	<p>
	panoramic objection detection, semantic segmentation, depth estimation, layout estimation
</p>
	<h4>
		<a name='interest3'></a> <b>2) 3D reconstruction and view synthesis:</b>
	</h4>
	<p>
	multi-view stereo (MVS), MVS + NeRF
		</p>

	
</div>


