
<div class='interest'>
	<h3>
		Research Interests
	</h3>
	<p>
	Recently, I've been interested in exploring various image warps with deep learning, such as homography, mesh, optical flow, thin-plate spline, etc. These deep warps provide new solutions for classic computer vision tasks (e.g. image stitching, video stabilization, and so on) and demonstrate impressive performance. The specific intersts are listed below:
	</p>
	<h4>
		<a name='interest1'></a> <b>1) Single-view warping:</b>
		<p>
	Wide-angle rectification; image rectangling; rolling shutter correction; rotation correction
		</p>
	</h4>
	<h4>
		<a name='interest1'></a> <b>1) Multi-view geometry:</b>
	</h4>
	<p>
	panoramic stitching; homography estimation; video stabilization; visual localization; 3D reconstruction
		</p>
	<h4>
		<a name='interest2'></a> <b>3) Panoramic scene understanding:</b>
	</h4>
	<p>
	panoramic object detection, semantic segmentation, depth estimation, layout estimation
</p>

	
</div>


