
<div class='interest'>
	<h3>
		Research Interests
	</h3>
	<p>
	I am interested in exploring image warps using deep learning, such as homography, mesh, optical flow, thin plate spline, etc. There deep warps provide new solutions for classic computer vision tasks (e.g. image stitching, video stabilization and so on) and demonstrate impressive performance. The specific intersts are listed below:
	</p>
	<h5>
		<a name='interest1'></a> <b>1) Computational photography and deep learning:</b>
	</h5>
	<p>
	image alignment/rotation/stitching/rectangling/retargeting, portrait correction, document unwarping, homography estimation
		</p>
	
	<h5>
		<a name='interest2'></a> <b>2) Panoramic scene understanding:</b>
	</h5>
	<p>
	panoramic objection detection, semantic segmentation, depth estimation, layout estimation
</p>
	
</div>


