<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/lang.png" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Lang Nie &nbsp; 聂浪
			</h3>
		<p>
		
		
			</p>
		<p>
		
		
			</p>
			<p>
			I am currently a Wenfeng Associate Professor at the School of Computer Science, Chongqing University of Posts and Telecommunications (<a href="https://www.cqupt.edu.cn//">CQUPT</a>).
			Prior to that, I received my B.S. and Ph.D. degrees from the School of Computer Science and Technology, Beijing Jiaotong University (<a href="https://bjtu.edu.cn/">BJTU</a>) in 2019 and 2025, respectively, under the supervision of Prof. <a href="http://faculty.bjtu.edu.cn/8549/">Chunyu Lin</a> and Prof. <a href="http://faculty.bjtu.edu.cn/5900/">Yao Zhao</a>. 
			 I have also been fortunate to work with Prof. <a href="http://www.liushuaicheng.org/">Shuaicheng Liu</a> at University of Electronic Science and Technology of China (<a href="https://www.uestc.edu.cn/">UESTC</a>). 
			</p>
		<p>
		My research interests cover a range of computer vision and deep learning. I have authored or co-authored about 20 academic papers in top-tier international conferences and journals, including CVPR, ICCV, ECCV, TPAMI, TIP, TMM, TCSVT, etc. 
	       I'm open to any kind of collaboration. Please feel free to contact me through email.


		
			</p>
			<p>
		
		
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				<a href="mailto: {{nielang@bjtu.edu.cn}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                {% if site.website_google %}
				 <a href="https://scholar.google.com/citations?user=vo__egkAAAAJ&hl=zh-CN" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}
				 </a>
			{% endif %}
		
		      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			 {% if site.github %}
				 <a href="https://github.com/nie-lang" target="_blank"><i class="fa fa-github"></i> &nbsp; {{site.github}}</a>
			{% endif %}
	</div>
</div>
