<div class='row'>
    <div class='col-xs-3'>
		<div class='photo'>
			<img src="assets/images/lang.png" alt="photo"/>
		</div>
	</div>
	<div class='col-xs-9'>
			<h3>
				Lang Nie &nbsp; 聂浪
			</h3>
			<p>
			 I am a first-year Ph.D. student at Beijing Jiaotong University (<a href="https://bjtu.edu.cn/">BJTU</a>) in <a href="http://mepro.bjtu.edu.cn/researcher.html"> MePro</a>, advised by Professor <a href="http://faculty.bjtu.edu.cn/8549/">Chunyu Lin</a>. 
			 I have been fortunate to work with <a href="http://www.liushuaicheng.org/">Shuaicheng Liu</a> at University of Electronic Science and Technology of China (<a href="https://www.uestc.edu.cn/">UESTC</a>).  
			 Recently I am looking for a research intern position with special interest in computational photography and deep learning. Here is my <a href="https://github.com/nie-lang/nie-lang.github.io/blob/main/assets/pdf/CV_Lang_Nie.pdf" target="_blank">CV</a>.
			</p>
		        <p>
			 I received my Bachelor degree at <i>Computer Science and Technology</i> from BJTU in 2019. After that, I spend two years of my Master life at BJTU. In Sep. 2021, I started a new journey and became a Ph.D student in <i>Signal and Information Processing</i> at BJTU.
				
				
			</p>
			<p>
		
		
			</p>
			
			<h3 style="padding-top:-5px"></h3>
			
			{% if site.email %}
				 <a href="mailto: {{nielang@bjtu.edu.cn}}"><i class="fa fa-envelope"></i> &nbsp; {{site.email}}</a>
			{% endif %}
			&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	                {% if site.website_google %}
				 <a href="https://scholar.google.com/citations?user=vo__egkAAAAJ&hl=zh-CN" target="_blank"><i class="fa fa-globe"></i> &nbsp; {{site.website_google}}</a>
			{% endif %}
		
		      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
			 {% if site.github %}
				 <a href="https://github.com/nie-lang" target="_blank"><i class="fa fa-github"></i> &nbsp; {{site.github}}</a>
			{% endif %}
	</div>
</div>
